<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Sample</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="app/controllers/controllerOne.js"></script>
    <script src="app/controllers/controllerTwo.js"></script>
    <script src="app/controllers/controllerThree.js"></script>
</head>
<body ng-cloak>

    <div ng-controller="contollerOne">
        <button type="button" ng-click="displayFirstName();" value="Display FirstName">Display FirstName</button>
            <div ng-show="isFirstName">
                FirstName: <span ng-bind="firstName"></span>{{ topic }}
                <button type="button" ng-click="hideFirstName();" value="Hide FirstName">hide FirstName</button>
            </div>
        <button type="button" ng-click="displayLastName();" value="Display LastName">Display LastName</button>
            <div ng-show="isLastName">LastName: <span ng-bind="lastName"></span></div>
        <button type="button" ng-click="displayAge();" value="Display Age">Display Age</button>
            <div ng-show="isAge">Age: <span ng-bind="age"></span></div>
    </div>

    <div ng-controller="controllerTwo">
        <button type="button" value="click" ng-click="showDetail()">display population</button>
        <div ng-show="countriesDetails">
        <input id="country" ng-model="query" type="text" name="con" />
        <input id="name" type="checkbox" ng-model="order" value="name" checked="checked" name="name"/>
        <table >
            <tr>
                <td>Country</td>
                <td>Capital</td>
                <td>Population</td>
            </tr>
            <tr ng-repeat="country in countriesDetails | filter:{capital:query} | orderBy:'order'">
                <td ng-bind="country.name"></td>
                <td ng-bind="country.capital"></td>
                <td ng-bind="country.population"></td>
            </tr>
        </table>
    </div>
</body>
</html>